* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Editorial New, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cdc6be;
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 1;
    border-bottom: 1px solid black;
}

.ams {
    font-size: 8px;
    margin-left: 30px;
}

.icon {
    margin-right: 30px;
}

.img1 {
    width: 150px;
}

main {
    background-color: #cdc6be;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-inline: 50px;
}

.div1 {
    width: 400px;
    margin-top: 80px;
    overflow: hidden;
    
}

.im1 {
    width: 60px;
}

.a {
    font-weight: 100;
}

.all {
    font-weight: bold;
    margin-top: 35px;
}

.img2 {
    width: 400px;
    border: 1px solid black;
    
}

.img2:hover {
    
    transform: scale(1.1);
}

.div2 {
    border-left: 1px solid rgba(29, 29, 27, .5);
    border-right: 1px solid rgba(29, 29, 27, .5);
    width: 400px;
    text-align: center;
    height: 246px;
    margin-top: 80px;
}

.p3 {
    margin-top: 20px;
    font-size: 15px;
}

.sp1 {
    font-size: 18px;
    font-weight: bold;
}

.div3 {
    width: 400px;
    margin-top: 80px;
    overflow: hidden;
}

.img3 {
    width: 400px;
    border: 1px solid black;
}
.img3:hover {
    
    transform: scale(1.1);
}


.im2 {
    width: 90px;
}
.is{
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 5px;
}
.sp {
    font-size: 10px;
    padding: 4px;
    color: #cdc6be;
    border-radius: 3px;
    background-color: #c03f13;
}

.head {
    background-color: black;
    width: 93%;
    color: #cdc6be;
    font-family: Canopee, sans-serif;
    font-size: 401px;
    text-align: center;
    margin: 50px;
}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-inline: 50px;
}

.img4 {
    width: 700px;
    border: 1px solid black;
}

.div4 {
    border-right: 1px solid rgba(29, 29, 27, .5);
    height: 100%;
    width: 400px;
}

.in {
    font-size: 92px;
    font-family: Canopee, sans-serif;
}

.ar {
    font-size: 156px;
    font-family: Canopee, sans-serif;
}

.p4 {
    font-size: 30px;
}

.sp2 {
    font-size: 55px;
    background-color: black;
    color: #cdc6be;
}

.img5 {
    width: 350px;
    border: 1px solid black;
}

.di {
    font-family: Canopee, sans-serif;
    font-size: 92px;
}

.int {
    font-family: Canopee, sans-serif;
    font-size: 92px;
}

.cr {
    font-family: Canopee, sans-serif;
    font-size: 104px;
}
 /* .aro{
    display: none;
} */
/* .al~.aro{
    display: inline;
} */ 
.ba {
    font-family: Canopee, sans-serif;
    font-size: 89px;
}

.sec3 {
    display: flex;
    gap: 30px;
}

.web {
    background-color: black;
    width: 69%;
    height: 322px;
    margin-left: 50px;
    margin-top: 20px;
    color: #cdc6be;
    font-family: Canopee, sans-serif;
    font-size: 318px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sec4 {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-inline: 50px;
}

.div6 {
    width: 350px;
    height: 230px;
    border-right: 1px solid black;
}

.up {
    font-size: 51px;
    font-family: Canopee, sans-serif;
}

.p5 {
    font-size: 30px;
}

.div7 {

    width: 380px;

}

.img6 {
    width: 350px;
    margin-left: 25px;
    border: 1px solid black;
}

.im3 {
    width: 166px;
    margin-left: 24px;
}

.th {
    font-family: Canopee, sans-serif;
    font-size: 78px;
}

.de {
    font-family: Canopee, sans-serif;
    font-size: 150px;
}

.p6 {
    margin-left: 24px;
}

.img7 {
    width: 743px;
    margin-top: 50px;
}

.div8 {
    border-left: 1px solid black;
    width: 400px;
    margin-left: 35px;
}

.p7 {
    font-size: 27px;
}

.p7::first-letter {
    font-size: 70px;
    background-color: black;
    color: #cdc6be;
}

.p8 {
    font-size: 27px;
    margin-top: 30px;
}

.sec5 {
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-inline: 50px;
    margin-top: 50px;

}

.div10 {
    margin-left: 50px;
    margin-top: 50px;

}

.title {
    font-family: Canopee, sans-serif;
    font-size: 5vw;
}

.init {
    font-size: 21px;
    font-weight: 100;
}

.sp3 {
    font-size: 104px;
    margin-top: 45px;
}

.ini {
    font-size: 21px;
    text-align: center;
    font-weight: 100;
}

.sec6 {
    display: flex;
    gap: 20px;
    margin-inline: 50px;

}

.img8 {
    width: 200px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid black;
}

.div11 {
    display: flex;
    gap: 20px;
}

.the {
    font-family: Canopee, sans-serif;
    font-size: 30vw;
}

.img9 {
    width: 500px;
    height: 695px;
    margin-top: 50px;
    border: 1px solid black;
}

.sp4 {

    margin-left: -214px;

}

.div12 {
    display: flex;
    gap: 20px;
}

.img10 {
    width: 300px;
    height: 280px;
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid black;
}

.pr {
    font-family: Canopee, sans-serif;
    font-size: 25vw;
}

.div13 {
    display: flex;
    gap: 20px;
}

.al {
    border: 1px solid black;
    font-size: 35px;
    width: 268px;
    height: 101px;
    margin-left: 38px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.art {
    margin-left: 50px;
    font-family: Canopee, sans-serif;
    font-size: 22vw;
    background-color: black;
    color: #cdc6be;
    text-align: center;
    margin-top: 20px;
}

.p9 {
    font-size: 25px;
    color: black;
    width: 450px;
    margin-top: 20px;
}

.aw {
    font-size: 104px;
    font-family: Canopee, sans-serif;
}

.sec6 {
    display: flex;
    margin-top: 50px;
}

.box1 {
    width: 540px;
    height: 256px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    background-color: #cdc6be;
}

.div15 {
    width: 500px;
    height: 252px;
    border: 2px dotted black;
    border-radius: 10px;
    font-size: 25px;
}

.box2 {
    width: 540px;
    height: 256px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
     position: absolute;
    right: 445px; 
    background-color: #cdc6be;
}

.di1 {
    width: 500px;
    height: 252px;
    border: 2px dotted black;
    border-radius: 10px;
    font-size: 25px;

}

.box3 {
    width: 540px;
    height: 256px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    right: 270px;
    background-color: #cdc6be;
}

.di2 {
    width: 500px;
    height: 252px;
    border: 2px dotted black;
    border-radius: 10px;
    font-size: 25px;

}

.box4 {
    width: 501px;
    height: 256px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    right: 120px;
    background-color: #cdc6be;
}

.di3 {
    width: 496px;
    height: 252px;
    border: 2px dotted black;
    border-radius: 10px;
    font-size: 25px;

}
 .box1:hover~.box2{
    left: 400px;
} 
.box1:hover~.box3{
    left: 600px;
}
.box1:hover~.box4{
    left: 800px;
}
.box2:hover~.box3{
    left: 500px;
}
.box2:hover~.box4{
    left: 650px;
}

.box3:hover~.box4{
    left: 700px;
}
.very {
    margin: 25px;
    font-size: 22px;
}

.box {
    display: flex;

}

.im4 {
    width: 50px;
    border-radius: 50%;
    margin: 25px;
    border: 1px solid black;

}
.im0{
    width: 50px;
    border-radius: 50%;
    margin: 25px;
    margin-top: 0px;
}
.name1{
    margin-top: -19px;
}
.en {
    font-family: Canopee, sans-serif;
    margin-top: 20px;

}

.co {
    font-size: 18px;

}

.c {
    margin-left: 30px;
    width: 370px;
}

.sec7 {
    display: flex;
    gap: 40px;
    margin-inline: 50px;
    margin-top: 50px;
    border-top: 1px solid black;
}

.img11 {
    width: 350px;
    border: 1px solid black;
}
.img11:hover {
    
    transform: scale(1.1);
}

.img12 {
    width: 350px;
    border: 1px solid black;

}
.img12:hover {
    
    transform: scale(1.1);
}

.sec8 {
    margin-top: 50px;
    margin-inline: 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.mar {
    margin-top: 20px;
    font-size: 60px;
}

.sp5 {

    background-color: black;
    color: #cdc6be;
    font-size: 50px;
}

footer {
    height: 100px;
    background-color: #cdc6be;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div17 {
    display: flex;
    margin-inline: 50px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.mi {
    font-size: 20px;
    font-family: Canopee, sans-serif;
}

.im6 {
    width: 20px;
}

.le {
    font-size: 18px;
}

ul {
    display: flex;
    gap: 20px;
    margin-right: 50px;
    font-size: 20px;
    font-family: Canopee, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
}